body {
  background-color: #FAF9F6;
  font-family: serif;
}
h1{
  margin-top: 0;
}
td, th {
	border: 1px solid;
}
p {
  font-size: 2em;
  line-height: 2em;
  text-align: center;
}
#planets th {
  background-color: #fgc;
}
#planets th, 
#planets td {
  text-align: center;
}
#planets img {
  width: 300px;
  height: 200px;
}
