td, th {
	border: 1px solid;
  }
#planets {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1em;
  border: 1px solid #FFDAB9;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
